.portfolio-total {
  font-size: 20px;
  padding: 20px 0;
}

.portfolio-pie {
  background-color: lightsteelblue;
  padding: 20px 0;
}

.portfolio-table {
  padding: 20px 0;
}

.portfolio-history {
  width: 100%;
  min-height: 400px;
}

.portfolio .intro-text {
  text-align: center;
}

.portfolio .jumbotron {
  border-style: solid;
  border-width: 2px;
}
