.portfolio-list-item {
  border: 1px solid lightgrey;
  height: 50px;
  background-color: lightcyan;
}

.portfolio-list-item .row {
  height: inherit;
}

.currency-input.input-group {
  padding: 0;
}
