footer.footer {
  width: 100%;
  text-align: center;
  border-top-style: solid;
  border-top-width: 3px;
  height: 40px;
  margin-top: 3em;
}

.footer .footer-link {
  margin: 1em;
  color: rgba(0, 0, 0, 0.5)
}

.footer .donate-link {
  cursor: pointer;
}


.footer .desktop-only {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer .desktop-only {
    display: inline;
  }
}
