.portfolio-table {
  width: 100%;
}

@media (max-width: 600px) {
  .portfolio-table .ReactTable {
    height: 600px;
  }
}

.rt-tr.-even {
  background-color: rgba(220,220,220,1);
}

.rt-thead.-header {
  background-color: lightgoldenrodyellow;
}
